.DS_Store
playkids-platforms-onboard-api/.idea/shelf
playkids-platforms-onboard-api/android.tests.dependencies
playkids-platforms-onboard-api/confluence/target
playkids-platforms-onboard-api/dependencies
playkids-platforms-onboard-api/dist
playkids-platforms-onboard-api/local
playkids-platforms-onboard-api/gh-pages
playkids-platforms-onboard-api/ideaSDK
playkids-platforms-onboard-api/clionSDK
playkids-platforms-onboard-api/android-studio/sdk
playkids-platforms-onboard-api/out/
playkids-platforms-onboard-api/tmp
playkids-platforms-onboard-api/.idea/workspace.xml
playkids-platforms-onboard-api/*.versionsBackup
playkids-platforms-onboard-api/idea/testData/debugger/tinyApp/classes*
playkids-platforms-onboard-api/jps-plugin/testData/kannotator
playkids-platforms-onboard-api/ultimate/dependencies
playkids-platforms-onboard-api/ultimate/ideaSDK
playkids-platforms-onboard-api/ultimate/out
playkids-platforms-onboard-api/ultimate/tmp
playkids-platforms-onboard-api/js/js.translator/testData/out/
playkids-platforms-onboard-api/js/js.translator/testData/out-min/
playkids-platforms-onboard-api/.gradle/
playkids-platforms-onboard-api/build/
playkids-platforms-onboard-api/!**/src/**/build
playkids-platforms-onboard-api/!**/test/**/build
playkids-platforms-onboard-api/*.iml
playkids-platforms-onboard-api/!**/testData/**/*.iml
playkids-platforms-onboard-api/.idea/libraries/Gradle*.xml
playkids-platforms-onboard-api/.idea/libraries/Maven*.xml
playkids-platforms-onboard-api/.idea/artifacts
playkids-platforms-onboard-api/.idea/modules
playkids-platforms-onboard-api/.idea/runConfigurations/JPS_*.xml
playkids-platforms-onboard-api/.idea/libraries
playkids-platforms-onboard-api/.idea/modules.xml
playkids-platforms-onboard-api/.idea/gradle.xml
playkids-platforms-onboard-api/.idea/compiler.xml
playkids-platforms-onboard-api/.idea/inspectionProfiles/profiles_settings.xml
playkids-platforms-onboard-api/.idea/.name
playkids-platforms-onboard-api/config.sh
playkids-platforms-onboard-api/playkids-platforms-onboard-api-business/out/
